---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.greedy-nav {
  a {
    color:#393939;
  }
}
.events__wrapper .archive__item {
    font-size: .9em;
}
.page__meta p, .comment__date p {
  margin: 8px 0;
}
fa-fw {
  text-align: left;
  width: 1.5em;
}
.page.event {
  padding-right: 0;

  .page__content {
    width: 60%;
  }
  .page__meta {
    width: 35%;
    float: right;
    clear: initial;
  }
  iframe {
    width: 100%;
    margin-top: 20px;
  }
}
