---
layout: default
---

{{ content }}

<h3 class="archive__subtitle">Coming Soon</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24432.655483885614!2d-75.24810795!3d40.051272399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6bed54dc4b85f%3A0xe6295b61e0c2dd94!2sShawmont%20Valley%2C%20Philadelphia%2C%20PA!5e0!3m2!1sen!2sus!4v1692146831478!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
